/* ANIMATIONS */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

.reveal,
.reveal-inner {
  opacity: 0;
  transform: translateY(1.25rem);
}

.revealed {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease, transform 1s ease;
}

.reveal-inner.revealed {
  transition-delay: 1s;
}

.blue-box.revealed {
  transform: scaleX(1);
  transition: transform 1s ease;
}
